<%# add navigation links to this file %>

<% if user_signed_in? %>
  <% if @genres %>
    <li>
      <%= form_tag("/", method: "get", remote: true, id: "genre_form", style: "display: inline;") do %>
        <%= select("genre", "genre_name", options_for_select(@genres.map { |g| g.name }, @current_genre)) %>
      <% end %>
    </li>
  <% end %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>
<% if user_signed_in? %>
  <li>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
<% end %>
